.card-bombillas {
    font-family: IBM-Plex-Sans;
    @include flex(column,center,center,0px);
    border: black 2px solid;
    border-radius: 5px;
    background-color: $main-box-color;
    width: 25%;

    .card-body-bombillas{
        color: $card-body-bombillas;
     }
 }

