/*MEDIA QUERIES*/

@media only screen and (max-width: 990px){

    header{
       flex-direction: column;
    }
 
    header img{
       width: 90%;
    }
 
    nav { 
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 35px;
    }  
     
 /*Banner*/
 .banner img{
    width: 100%;
    object-fit: cover;
 }
 
  /*GALERIA*/
  
  .galeria-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }
 
 .galeria-container img{
       width: 18rem;
       object-fit: cover;
       border-radius: 15px;
    }
 
    .card__content {
       padding: 5px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       align-self: center;
       gap: 10px;
    }
    
    .card__content p {      
       align-self: center;
       padding: 10px;
       text-decoration: none;
       font-size: 20px;
    }
    
 
    .card__content a {      
       align-self: center;
       padding: 10px;
       text-decoration: none;
       font-size: 20px;
    }
     
 
    .cards img{
       width: 100%;
       object-fit: cover;
    }
 
  }
 
 
 
 
 @media only screen and (max-width: 576px){
 
    /*Banner*/
    .banner img{
        width: 100%;
        object-fit: cover;
     }
 
    .galeria-container{
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(1, 1fr);
    
     }
 
     .galeria-container img{
       width: 18rem;
       object-fit: cover;
       border-radius: 5px;
    }
 
    .cards img{
       width: 100%;
       object-fit: cover;
    }
 
 }