/*footer*/
.footer {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(36, 35, 37) ;
    font-size: 1.1rem;

        div {
             @include flex(column,center,center,0px);
             padding: 25px;

             img{
                  border-radius: 15px;
                  width: 150px;
                }
          
            } 

         }

         ul li{
            list-style: none;
            display: inline-block;

            a{
               display: flex;
               text-align: center;
               text-decoration: none;
               color: $footer-color;
               text-align: center;                      
             }  

           p{
               text-align: right;
               color: $footer-color;
               padding-top: 5px;
               margin: 25px;
            
              }

         .footer-link{    
            padding: 10px;
            text-decoration: none; 
            font-size: 1.0rem;

             &:hover {
                background-color: transparent;
                color: $nav-link-hover-color;
                transition: 0.4s;
               }
         }
      }