
$nav-link-color:#FFEFD6 ;
$nav-link-hover-color: darkgray;
$navbar-background:rgb(36, 35, 37);
$main-box-color:rgb(36, 35, 37);
$main-productos-color: #FFEFD6;
$card-body-mates: #FFEFD6;
$card-body-materas: #FFEFD6;
$card-body-bombillas: #FFEFD6;
$card-body-termos: #FFEFD6;
$card-body-a: #FFEFD6;
$card-contacto-color:#FFEFD6;
$footer-color: #FFEFD6;
$index-p-color: #FFEFD6;
$card-btn-color: #FFEFD6;